
 #page{
    width: 100%;
    -webkit-box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.cont{
    background: #ffffff;
}
.cont section{
    padding: 20px;
}
.panel{}
.panel button{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8956c), to(#e25814));
}
.panel button:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e25814), to(#e8956c));
}
.panel h2{
    color: #9dd6fe;
}
.panel .panel-des{
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
}
.panel .panel-dir li{
    padding:5px;
    
}
.panel .panel-dir a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
.panel .panel-dir a:hover{
    text-decoration: underline;
    color: #fc5401;
}
.panel .panel-swipe, .panel .panel-opt{
    font-size: 14px;
    padding: 15px;
}
.wrapper{
    opacity: 0.9;
}
hr{ 
border-bottom:1px solid #210F36; 

}