.queslist{ width:95%;  }
.queslist td{ height:38px; border-bottom:1px dashed silver;color:#646464 }
.queslist .header td{color:#333333;}
.queslist tr.header{height:38px; }
.bodycolor{ background-color:#fff;}


 .queslist1
    {
        width: 100%;
        clear:both;
         height:38px;
        border-bottom: 1px dashed silver;
    }
   
    .lanB
    {  margin-top:5px;
        clear: both;
        height: 25px;
        line-height: 25px;
        background: #ecf1f6 repeat;
        padding: 0 15px;
        border-top: 1px solid #b8cddf;
        color: #666;
        border-bottom: 1px solid #c6d6e2;
    }
    .fL
    {
        font-weight: bold;
        float: left;
    }
    .zhu
    {
        clear: both;
        margin: 12px 12px 0;
        line-height: 24px;
        color: #999;
        float: left;
    }
    .divL{float:left;}
