<?xml version="1.0"?>
<ConfigsInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ManageIndexMaster>UserPagesTem.Master</ManageIndexMaster>
  <MUccUserInfo>uccuserinfo.aspx</MUccUserInfo>
  <MUccUserInfoRw>uccuserinfo.ashx</MUccUserInfoRw>
  <MapPl>24</MapPl>
  <MapSl>80</MapSl>
  <PageSizeIndex>20</PageSizeIndex>
  <PageSizeClass>15</PageSizeClass>
  <PageSizeSpecail>60</PageSizeSpecail>
  <PageSizeTagList>80</PageSizeTagList>
  <PageSizeTagValue>30</PageSizeTagValue>
  <Frdlink>frdlink.aspx</Frdlink>
  <UserInfo>userinfo.aspx</UserInfo>
  <FrdlinkPost>frdlinkpost.aspx</FrdlinkPost>
  <VotePost>votepost.aspx</VotePost>
  <VoteView>voteview.aspx</VoteView>
  <Top>top.aspx</Top>
  <UserOnline>uonline.aspx</UserOnline>
  <Delivery>delivery.aspx</Delivery>
  <Payment>payment.aspx</Payment>
  <LoginBind>loginbind.aspx</LoginBind>
  <CustomForm>form.aspx</CustomForm>
  <UserAlbum>album.aspx</UserAlbum>
  <CustomSearch>customsearch.aspx</CustomSearch>
  <UccIndex>UccIndex.aspx</UccIndex>
  <Uhome>uhome.aspx</Uhome>
  <Reg>reg.aspx</Reg>
  <Remark>Remark.aspx</Remark>
  <Lostpassword>lostpassword.aspx</Lostpassword>
  <Login>login.aspx</Login>
  <Search>Search.aspx</Search>
  <TagSearch>tagv.aspx</TagSearch>
  <IsStopCnzz>false</IsStopCnzz>
  <IndexPath>index.aspx</IndexPath>
  <ListPath>list.aspx</ListPath>
  <ContentPath>content.aspx</ContentPath>
  <SpecialPath>special.aspx</SpecialPath>
  <Taglist>tags.aspx</Taglist>
  <MPath>m</MPath>
  <SiteModule>0</SiteModule>
  <MUccIndex>UccIndex.aspx</MUccIndex>
  <MUhome>uhomemobile.aspx</MUhome>
  <MReg>reg.aspx</MReg>
  <MRemark>Remark.aspx</MRemark>
  <MLostpassword>lostpassword.aspx</MLostpassword>
  <MLogin>login.aspx</MLogin>
  <MSearch>Search.aspx</MSearch>
  <MTagSearch>tagvmobile.aspx</MTagSearch>
  <MIndexPath>indexmobile.aspx</MIndexPath>
  <MListPath>listmobile.aspx</MListPath>
  <MContentPath>contentmobile.aspx</MContentPath>
  <MSpecialPath>specialmobile.aspx</MSpecialPath>
  <MTaglist>tagsmobile.aspx</MTaglist>
  <ListPathAllRw>listall.ashx</ListPathAllRw>
  <FrdlinkRw>frdlink.html</FrdlinkRw>
  <UserInfoRw>uinfo/</UserInfoRw>
  <FrdlinkPostRw>frdlinkpost.html</FrdlinkPostRw>
  <VotePostRw>votepost.html</VotePostRw>
  <VoteViewRw>voteview.html</VoteViewRw>
  <TopRw>top.html</TopRw>
  <UserOnlineRw>uonline.html</UserOnlineRw>
  <DeliveryRw>delivery.ashx</DeliveryRw>
  <PaymentRw>payment.ashx</PaymentRw>
  <LoginbindRw>loginbind.html</LoginbindRw>
  <CustomFormRw>form.ashx</CustomFormRw>
  <CustomSearchRw>customsearch.ashx</CustomSearchRw>
  <UserAlbumRw>album.html</UserAlbumRw>
  <UccIndexRw>UccIndex.html</UccIndexRw>
  <UhomeRw>home.html</UhomeRw>
  <RegRw>reg.html</RegRw>
  <LostpasswordRw>lostpassword.html</LostpasswordRw>
  <LoginRw>login.html</LoginRw>
  <SearchRw>Search.html</SearchRw>
  <TagSearchRw>tagv.html</TagSearchRw>
  <IndexPathRw>index.aspx</IndexPathRw>
  <ListPathRw>{分类ID}b{排序类别}p{页码}.html</ListPathRw>
  <ContentPathRw>{分类ID}a{内容ID}b{页码}c.html</ContentPathRw>
  <SpecialPathRw>zt/{专题ID}a{页码}s.html</SpecialPathRw>
  <TaglistRw>tags.html</TaglistRw>
  <ContentPathRw2>{内容目录}-c{分类ID}a{内容ID}b{页码}.aspx</ContentPathRw2>
  <MUccIndexRw>muccindex.html</MUccIndexRw>
  <MUhomeRw>muhome.html</MUhomeRw>
  <MRegRw>mreg.html</MRegRw>
  <MLostpasswordRw>mlostpassword.html</MLostpasswordRw>
  <MLoginRw>mlogin.html</MLoginRw>
  <MSearchRw>mso.html</MSearchRw>
  <MTagSearchRw>mtagv.html</MTagSearchRw>
  <MIndexPathRw>mindex.html</MIndexPathRw>
  <MListPathRw>mc.html</MListPathRw>
  <MContentPathRw>mct.html</MContentPathRw>
  <MSpecialPathRw>mzt.html</MSpecialPathRw>
  <MTaglistRw>mtags.html</MTaglistRw>
</ConfigsInfo>