<?xml version="1.0"?>
<ConfigsInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MonthHitsLastTime>2021-07-28T00:00:00+08:00</MonthHitsLastTime>
  <WeekHitsLastTime>2021-07-28T00:00:00+08:00</WeekHitsLastTime>
  <DayHitsLastTime>2021-07-28T00:00:00+08:00</DayHitsLastTime>
</ConfigsInfo>