<?xml version="1.0"?>
<ConfigsInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Port>25</Port>
  <EnableSsl>false</EnableSsl>
  <SynNum>10</SynNum>
  <iTimeSpan>5</iTimeSpan>
  <emaildll>EbSite.BLL.Email.SysEmail</emaildll>
  <emailfrom>cqs@ebsite.net</emailfrom>
  <smtpserver>smtp.exmail.qq.com</smtpserver>
  <emailuserName>cqs@ebsite.net</emailuserName>
  <emailuserpwd>Ebsite2017</emailuserpwd>
</ConfigsInfo>