<?xml version="1.0"?>
<ConfigsInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <PageSplit>C</PageSplit>
  <SpecialHtmlRule>special/{#TitleSpell#}</SpecialHtmlRule>
  <PageHtmlModel>1</PageHtmlModel>
  <HtmlTimeSpan>1</HtmlTimeSpan>
  <HtmlTimeSpanModel>2</HtmlTimeSpanModel>
  <ClassHtmlRule>class/{#TitleSpell#}</ClassHtmlRule>
  <ContentHtmlRule>content/{#TitleSpell#}{#KeyID#}</ContentHtmlRule>
  <CreateSleep>50</CreateSleep>
  <DefualtName>index.htm</DefualtName>
  <GetHtmlErr>获取HTML出错</GetHtmlErr>
  <TagsList>tags</TagsList>
  <TagsSearchList>tagv/{#TitleSpell#}-{#KeyID#}</TagsSearchList>
  <HtmlUndoneMaked />
</ConfigsInfo>