<?xml version="1.0"?>
<ConfigsInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Imgquality>100</Imgquality>
  <Watermarktransparency>5</Watermarktransparency>
  <OpenWatermark>1</OpenWatermark>
  <PicPath>images/watermark.gif</PicPath>
  <WatermarkPlace>9</WatermarkPlace>
  <OpenMiniature>true</OpenMiniature>
  <DYCImgSize />
  <MiniatureWidth>150</MiniatureWidth>
  <MiniatureHeight>150</MiniatureHeight>
  <MidiatureWidth>300</MidiatureWidth>
  <MidiatureHeight>300</MidiatureHeight>
  <MaxiatureWidth>380</MaxiatureWidth>
  <MaxiatureHeight>380</MaxiatureHeight>
</ConfigsInfo>