<?xml version="1.0"?>
<ConfigsInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <_PageSize>30</_PageSize>
  <IsOpenFileServer>false</IsOpenFileServer>
  <FileServerUrl />
  <IsOpenPickproofLinkOfPic>false</IsOpenPickproofLinkOfPic>
  <PickproofLinkPreOfPic>.gif,.png,.jpg</PickproofLinkPreOfPic>
  <IsOpenPickproofLinkOfFile>false</IsOpenPickproofLinkOfFile>
  <PickproofLinkPreOfFile>.rar,.zip,.exe</PickproofLinkPreOfFile>
  <WebServiceRequestModel>1</WebServiceRequestModel>
  <WebServiceSafeCode>123654ebsite</WebServiceSafeCode>
  <SearchEngine>
    <ListItemSimple>
      <Text />
      <Value>7</Value>
    </ListItemSimple>
    <ListItemSimple>
      <Text />
      <Value>8</Value>
    </ListItemSimple>
    <ListItemSimple>
      <Text />
      <Value>3</Value>
    </ListItemSimple>
    <ListItemSimple>
      <Text>EbSite.Plugin.EbSearch.EbContentSearch</Text>
      <Value>1</Value>
    </ListItemSimple>
  </SearchEngine>
  <WebServiceIPList />
  <UserlevaNoCheck>
    <string>1</string>
    <string>2</string>
    <string>3</string>
    <string>4</string>
    <string>5</string>
    <string>6</string>
    <string>7</string>
  </UserlevaNoCheck>
  <UserlevaUpload>
    <string>1</string>
    <string>2</string>
    <string>3</string>
    <string>4</string>
    <string>5</string>
    <string>6</string>
    <string>7</string>
  </UserlevaUpload>
  <PostTimeOut>0</PostTimeOut>
  <Culture>Auto</Culture>
  <IsOpenSql>false</IsOpenSql>
  <EncryptionKey>ebsite2007abc</EncryptionKey>
  <DisableAutoUpdatePlugin>false</DisableAutoUpdatePlugin>
  <PassType>MD5</PassType>
  <LoginExpires>600</LoginExpires>
  <IsOpenUserHome>false</IsOpenUserHome>
  <IsErrFriend>false</IsErrFriend>
  <IsOpenAppLog>false</IsOpenAppLog>
  <IsOpenAdminLoginLog>false</IsOpenAdminLoginLog>
  <ErrLoginNum>10</ErrLoginNum>
  <IsOpenSafeCoder>false</IsOpenSafeCoder>
  <IsOpenSafeCoder_PL>false</IsOpenSafeCoder_PL>
  <AuditingComment>false</AuditingComment>
  <AuditingContent>false</AuditingContent>
  <IsUpdateHisCookieOrSession>0</IsUpdateHisCookieOrSession>
  <HitsUpdateTimeLength>30</HitsUpdateTimeLength>
  <CookieDomain>localhost</CookieDomain>
  <IsMobileRedirect>false</IsMobileRedirect>
  <UserPath>md/</UserPath>
  <MaxThreadForPool>10</MaxThreadForPool>
  <AdminPath>AdminHt/</AdminPath>
  <IISPath>/</IISPath>
  <IsEndDataBaseStr>false</IsEndDataBaseStr>
  <IsOpen404Log>false</IsOpen404Log>
  <Copyright>&lt;p&gt;Copyright &amp;amp;copy; 2005 - 2011 Tencent. All Rights Reserved 北京亿博科技 &lt;a href="http://www.ebsite.net" target="_blank"&gt;版权所有&lt;/a&gt;&lt;/p&gt;</Copyright>
  <IsAllowApplyFrdLink>true</IsAllowApplyFrdLink>
  <FrdLinkDemo>&lt;p&gt;友情链接 联系QQ：369913836&lt;/p&gt;</FrdLinkDemo>
  <sMapPath>D:\web\ebsite\ebsite6\Project\EbSite.Web\</sMapPath>
  <DomainName>http://localhost:2015</DomainName>
  <UploadPath>UploadFile</UploadPath>
  <EmailSendPlugin>EbSite.Plugin.Email.SysEmail</EmailSendPlugin>
  <MobileMsgSendPlugin>EbSite.Plugin.MobileMsgSend.Winic</MobileMsgSendPlugin>
  <CacheBll />
  <IsAddSearchKeyword>false</IsAddSearchKeyword>
  <DelModuleAndFile>false</DelModuleAndFile>
  <IsCacheJsCss>false</IsCacheJsCss>
  <IpToAreaPluginName>EbSite.Plugin.EbSearch.SinaApi</IpToAreaPluginName>
  <KuaiDiPluginName>EbSite.Plugin.Delivery.KuaiDi100</KuaiDiPluginName>
  <EnableHttpCompression>true</EnableHttpCompression>
  <EnableCssCompression>0</EnableCssCompression>
  <EnableJsCompression>0</EnableJsCompression>
  <MEnableJsCompression>1</MEnableJsCompression>
  <IsAutoUpdateDomain>false</IsAutoUpdateDomain>
  <PageSize>30</PageSize>
</ConfigsInfo>