html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: arial, sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.fl{float: left}
.fr{float: right}

/*datalist*/
.data-list {
            width: 100%;
            text-align: left;
        }

        .data-list li {
            color: #333;
            border-bottom: 1px solid #e7e7e7;
            background-color: #fafafa;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 10px 10px 10px;
            display: block;
            position: relative;
        }

        .data-list li.ui-list-hover {
            background: #ededed;
        }

        .data-list li a {
            text-decoration: none;
        }

        .data-list li dt {
            font-size: 16px;
            font-weight: bold;
            line-height: 16px;
            padding-top: 10px;
            color: #333;
             overflow: hidden;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            
        }
        .data-list li dt.toleft {
            margin-left: -40px;
        }
        .data-list li dt:first-child {
            padding-top: 0;
        }

        .data-list li dd.content {
            font-size: 14px;
            color: #787878;
            line-height: 16px;
            margin-top: 8px; 
            
        }

        .data-list li dd.source {
            font-size: 12px;
            color: #969696;
            margin-top: 8px;
        }
        .data-list li span.arrow {
           position: absolute;right: 5px;top: 35%;
           background:url(icos.png) no-repeat 0 0;
           width:7px;height:16px;background-position:-10px -2px;
        }
        .data-list li span.rimg {
           position: absolute;right: 80px;top: 1%;
          
        }
        .data-list li span.rtext {
           position: absolute;right: 40px;top: 25%;font-size: 14px; font-weight: normal;
          
        }
 
        
        
.data-list-img li{ padding-left:90px;}  
.data-list-img img{ 
    position: absolute;
            left: 8px;
            top: 50%;
            width: 70px;
            margin-top: -35px; width:70px;margin-right: 50px;
    } 

.data-list-ico li{ padding-left:50px;}
.data-list-ico li img
{  
    left: 8px;top: 20%;
    position: absolute;
    width: 32px;height: 32px;
  }  
  .data-list-ico li span.arrow {
      
  }
  
  .data-list li input[type=checkbox] {
      zoom: 200%;
  }
  
     /*end-datalist*/
.radiusbox
{
     border:1px solid #959595;
     box-shadow:2px 2px 2px #cdcdcd ;
     -webkit-box-shadow:0px 0px 12px 0px #ccc ;
     border-radius:5px 5px 5px 5px;
     background:white;
     
}
.radiusbox div.btnloadmore 
{
    border-top:1px solid #959595;
     text-align:center; padding:15px; 
     background-color:#fff;
}
.btnloadmore 
{
     background-color:#fff;
     text-align:center; padding:15px; 
}
.PagesClass{display:none}
.ebinput
{
    position:relative;z-index:999;/*z-index:999 YHL 把注册之类 弹出层 给挡住了 */
    height:80px;
}
.ebinput input
{
    position: absolute; top: 0px; left: 0px; width: auto;
    outline:0;
     height:45px;
     border:0;
     border-radius:0;
     background:0;
     -webkit-appearance:none;
     font-size:16px;
     vertical-align:middle;
     width:100%;
     padding-left:5px;
     -webkit-box-sizing:border-box;
     box-sizing:border-box; 
     -webkit-tap-highlight-color:rgba(0,0,0,0); /*去除选中外框*/
     height:80px; padding-left:15px;
}
.linesolid{ height:1px; background-color:#ccc; width:100%; }
/*通用按钮*/

.button {
    display: inline-block;
    position: relative;
    
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;

}
.button2 {
    display: inline-block;
    position: relative;
    
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease; padding:5px;

}
/* Red Color*/
.btnred2 {
    color: #fff;
 
    background: #a5cd4e; /* Old browsers */
    background: -moz-linear-gradient(top,  #B82008 0%, #DE270A 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DE270A), color-stop(100%,#DE270A)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #B82008 0%,#DE270A 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #B82008 0%,#DE270A 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #B82008 0%,#DE270A 100%); /* IE10+ */
    background: linear-gradient(top,  #B82008 0%,#DE270A 100%); /* W3C */
}
 




/* Green Color */
 
.btngreen {
    color: #3e5706;
 
    background: #a5cd4e; /* Old browsers */
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* IE10+ */
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* W3C */
}
.btngreen2 {
    color: #fff;
 
    background: #a5cd4e; /* Old browsers */
    background: -moz-linear-gradient(top,  #37A306 0%, #48D408 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37A306), color-stop(100%,#48D408)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #37A306 0%,#48D408 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #37A306 0%,#48D408 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #37A306 0%,#48D408 100%); /* IE10+ */
    background: linear-gradient(top,  #37A306 0%,#48D408 100%); /* W3C */
}
 
/* Blue Color */
 
.btnblue {
    color: #19667d;
 
    background: #70c9e3; /* Old browsers */
    background: -moz-linear-gradient(top,  #70c9e3 0%, #39a0be 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70c9e3), color-stop(100%,#39a0be)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* IE10+ */
    background: linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* W3C */
}
 
/* Gray Color */
 
.btngray {
    color: #515151;
    
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
}
.btnmiddle {
    padding-top: 10px;
    height: 30px; 
    text-transform: uppercase;
    font: bold 15px/17px Arial, sans-serif;font-size: 18px;
}
.btnbig {
    padding-top: 10px;
    height: 45px; 
    text-transform: uppercase;
    font: bold 20px/22px Arial, sans-serif;font-size: 25px;
}

.button:hover {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
}


.eb-button
{
    display:inline-block;padding:.5em .6em;margin:2px;border:1px solid #34B100; cursor:pointer;
    -webkit-border-radius:2px;border-radius:2px;background-color:#48D109;color:#fff; font-weight:bold;
    text-decoration:none;font-size:14px;}
 .eb-button a{text-decoration:none;}
 /*panel.default.css*/
.ui-panel{width:15em;height:100%;top:0;padding:10px;background:-webkit-gradient(linear,left top,left bottom,from(#444),to(#222));color:#fff;}
/*end通用按钮*/
/*两栏tab*/
.u-subnav{display:-webkit-box;border-bottom:1px solid #d4d3d3;background:#e5e5e5}
.u-subnav a{position:relative;display:block;-webkit-box-flex:1;border-right:1px solid #d4d3d3;padding:12px 0;text-align:center;font-size:16px;color:#545454;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.u-subnav a:first-child{border-left:1px solid #d4d3d3}
.u-subnav .cur{background:#dadada}
.u-subnav .arr{position:absolute;bottom:-5px;left:50%;margin-left:-3px;display:none;width:8px;height:8px;border-left:1px solid #d4d3d3;
               border-bottom:1px solid #d4d3d3;background:#dadada;-webkit-transform:rotate(-45deg)}
.u-subnav .cur .arr{display:block}

/*三栏tab*/
.w-nav{display:-webkit-box;border:1px solid #c6c6c6;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f6f6f6))}
.w-nav a{display:block;position:relative;-webkit-box-flex:1;width:33.3%;border-right:1px solid #c6c6c6;border-left:1px solid #fff;height:39px;line-height:39px;
font-size:16px;color:#969696;text-align:center;-webkit-tap-highlight-color:rgba(255,0,0,0)}
.w-nav a div{position:absolute;display:none;top:35px;left:50%;width:8px;height:8px;margin-left:-4px;background:#fff;border-right:1px solid #c6c6c6;border-bottom:1px solid #c6c6c6;-webkit-transform:rotate(45deg)}
.w-nav a.cur{background:#fff;color:#545454}
.w-nav a.cur div{display:block}
.w-nav a:first-child{border-left:none}
.w-nav a:last-child{border-right:0}
.w-nav a span{color:#36911a}
/*------------模块工具条样式------------*/
.toolbar{width:100%;z-index:999;height:40px;border:#339609 solid 1px;border-width:1px 0;padding-top: 3px;
    background: #40BA08;position:relative;z-index:999;text-align: center;
    }
    .toolbar .fleft{ float: left;}/*yhl 2014-1-20 新加*/
 .toolbar .tbf{ position:absolute;      left:0;}/*.toolbar .tbf{  position:absolute;    top:0px;    left:0px;}*/
 .toolbar .tbr{position:absolute;top: 3px;       right:0;}
 .toolbar .title{top: 0; color: #fff;  font-weight: bold; text-align:center;padding-top: 8px;font-size: 18px;}/*2014-1-20 原来 width:100%; */
 .toolbar .button{display:inline-block;margin:2px;border:1px solid #34B100; cursor:pointer;padding: 2px;padding-left: 8px;padding-right: 8px;
    -webkit-border-radius:2px;border-radius:2px;background-color:#48D109;color:#fff; font-weight:bold; 
    text-decoration:none;font-size:14px;}
 .toolbar .button a{ color: #ffffff;text-decoration:none;}
  .selclass{ border: 1px solid #ccc;background-color: #fff;margin: 3px;border-radius:5px;line-height: 35px; }    
    .selclassex{ border: 1px solid #ccc;background-color: #fff;margin: 3px;border-radius:5px;line-height: 35px; }   
#ebSubMenus{ display: none;}
#ebSubMenus div{display:inline-block;padding:.8em .6em;margin:5px;border:1px solid #BF1A03; cursor:pointer;width: 90%;text-align: center;
    -webkit-border-radius:2px;border-radius:2px;background-color:#C91B03;color:#fff; font-weight:bold;
    text-decoration:none;font-size:14px;}
#ebSubMenus a{ color: #fff;text-underline: none;}
    
  /*搜索框及按钮*/  
 .w-home-search{padding:0 10px}
 .w-home-search .input
 {
     border:1px solid #959595;border-right:0;
     box-shadow:1px 1px 2px #cdcdcd inset;
     -webkit-box-shadow:1px 1px 2px #cdcdcd inset;
     border-radius:2px 0 0 2px;
     margin-right:83px;background:white}
 .w-home-search .input input, submit,button
 {
     height:45px;
     border:0;
     border-radius:0;
     background:0;
     -webkit-appearance:none;
     font-size:16px;
     vertical-align:middle;
     width:100%;
     padding-left:5px;
     -webkit-box-sizing:border-box;
     box-sizing:border-box; 
     -webkit-tap-highlight-color:rgba(0,0,0,0); /*去除选中外框*/
    
 }
 .w-home-search input[type=submit],input[type=button] 
 {
     width:83px;float:right;border:1px solid #39a70a;
     border-radius:0 2px 2px 0;
     line-height:47px;
     height:47px;font-weight:bold;font-size:16px;color:white;
     text-shadow:0 -1px 1px #777;
     -webkit-box-shadow:1px 1px 0 #6ed93b inset;
     box-shadow:1px 1px 0 #6ed93b inset;
     background:-webkit-gradient(linear,left top,left bottom,from(#48d109),to(#42c307))
 }
 .ui-input-mask{position:relative;z-index:9999}
 
.ui-input-mask input{outline:0;}

.ui-quickdelete-button{background:url(delete.png) no-repeat left top;
                       -webkit-background-size:contain;visibility:hidden;position:absolute;cursor:pointer}
                       
 /* 上传控件 */
.txtvaluecss{ display: none;}                       
.AspNetUpload{position: relative;}

.AspNetUpFile{cursor:pointer;position: absolute; width:150px;height: 80px; z-index: 1000002;opacity:0;-ms-filter:'alpha(opacity=0)';filter:alpha(opacity=0);}
         
.AspNetBtn {margin-left: -58px;
    position: absolute;  z-index: 1000001;padding:0;
    text-align: center;
     width:80px;min-height: 60px; 
      border:1px solid #D6D6D6;
     border-radius:0 2px 2px 0;
    
     font-weight:bold;font-size:16px;color:white;
     text-shadow:0 -1px 1px #8A8A8A;
     -webkit-box-shadow:1px 1px 0 #FFFFFF inset;
     box-shadow:1px 1px 0 #8A8A8A inset;
     background:-webkit-gradient(linear,left top,left bottom,from(#A8A8A8),to(#EBEBEB))
}
.AspNetUpText {position: absolute;width:150px;top: 0px;left: 0px;z-index: 1000003;display: none;}

.AspNetUpHideArea{ position:absolute;top:-1000px;left:-1000px;visibility:hidden;}
.AspNetUpTips{ height:50px;}


/*------------end模块工具条样式------------*/

.modelmenus a{ color: #fff;font-size: 18px;line-height: 30px;}