
ol, ul {
	list-style:none;
}
img {
	border:0;
}
a img {
	border:none;
}
.ad img {
	border-style: none;
}
address, caption, em, i {
	font-style:normal;
	font-weight:400;
}
table {
	border-collapse:collapse;
}
table tr
{
	height:28px; line-height:28px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:700;
}
h1 {
	font-size:20px;
	line-height:28px;
}
h2 {
	font-size:18px;
	line-height:24px;
}
h3 {
	font-size:16px;
	line-height:20px;
}
h4 {
	font-size:14px;
	line-height:18px;
}
h5 {
	font-size:12px;
	line-height:16px;
}
h6 {
	font-size:12px;
	line-height:16px;
	font-weight:400;
}
fieldset {
	clear:both;
	border-top-width: 1px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #989796;
}
legend {
	font-weight: bold;
	color: #989796;
	padding: 10px;
}
/* 链接
-------------------------------------------------------------------*/
a:link, a:visited {
	color:#656D77;_color:none;
	text-decoration:none;
}
.f a:link,.f  a:visited {
	color:#656D77;
	text-decoration:none;
}
a:hover, a:active {
	color:#333;
	text-decoration:underline;
}
/*灰色*/
.aGray, .grayA a:link, .grayA a:visited {
	color:#656D77;
}
.grayA a:hover, .grayA a:active {
	color:#f60;
	text-decoration:underline;
}
/*橙色*/
.aOrange, .orangeA a:link, .orangeA a:visited {
	color:#f90;
}
.orangeA a:hover, .orangeA a:active {
	color:#f60;
	text-decoration:underline;
}
/*蓝色*/
.aBlue, .blueA a:link, .blueA a:visited {
	color:#0063CE;
}
.blueA a:hover, .blueA a:active {
	color:#f60;
	text-decoration:underline;
}
/*红色*/
.aRed, .redA a:link, .redA a:visited {
	color:#F52403;
}
.redA a:hover, .redA a:active {
	color:#c30;
	text-decoration:underline;
}
/*白色*/
.aWhite, .whiteA a:link, .whiteA a:visited {
	color:#fff;
}
.whiteA a:hover, .whiteA a:active {
	color:#f60;
	text-decoration:underline;
}
/*黑色*/
.aBlack, .blackA a:link, .blackA a:visited {
	color:#000;
	text-decoration:none;
}
.blackA a:hover, .blackA a:active {
	color:#f60;
	text-decoration:underline;
}
/* 表单
-------------------------------------------------------------------*/

input[type="checkbox"] {
	margin: 3px 0 0 5px;
 *margin:-1px 0 1px 1px;
	_vertical-align:middle;
}
input[type="radio"] {
 *margin:-1px 0 0 1px;
}
input[type="file"] {
	height:18px;
	margin:0 0 0 4px;
 *margin:-1px 0 0 4px;
}
.ipt-txt {
	border-color:#666666 #BBBBBB #BBBBBB #666666;
	border-style:solid;
	border-width:1px;
	font-size:12px;
	line-height:15px;
	margin-right:2px;
	padding:4px 5px;
}
select {
	margin:0 0 0 4px;
	_margin:0 0 0 2px;
	font-size:12px;
	font-family:Tahoma, Arial;
}
* html input.text {
	width:224px;
	height:12px;
	border:1px solid #999;
	margin-top: -1px;
	margin-right: 5px;
	margin-bottom: 0;
	margin-left: 2px;
	padding: 3px;
	line-height: 12px;
	background-image: url(input.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
* html input.checkbox {
	margin:-1px 0 0 -2px;
}
* html input.radio {
	margin:-1px 0 0 -2px;
}
* html input.file {
	margin:-1px 0 0 1px;
}

.searchtext {
	background-color: #E6EAE4;
	color: #77A7C6;
	width: 164px;
}
.buttonSubmit {
}
.btn1 {
	background-attachment: scroll;
	background-image: url(search_button.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 40px;
	color: #FFF;
	vertical-align:bottom;
	line-height: 22px;
	border:0px;
}
/* 常用样式
-------------------------------------------------------------------*/
/*设置统一的宽度*/
.w {
	width: 960px;
	clear: both;
	margin: 0 auto;
}
/*距中兼容*/
.center {
	margin:0 auto;
}
/*网站框架*/
.west {
	width:260px;
	float:left;
}
.east {
	width:680px;
	float:right;
}
.fLeft {
	float:left;
}
.fRight {
	float:right;
}
.invisible {
	display:none;
}
.block {
	display:block;
}
.overflow {
	overflow:hidden;
}
.textCenter {
	text-align:center;
}
.pointer {
	cursor:pointer;
}
.clear {
	clear:both;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom:1;
	display: inline-block;
	_height:1px;
}
* html .clearfix {
	height: 0%;
	line-height:0;
}
*+html .clearfix {
	height: 0%;
	line-height:0;
}
.clearfix {
	display: block;
}
.mTB10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mT10 {
	margin-top: 10px;
}
.mT13 {
	margin-top: 13px;
}
.mB10 {
	margin-bottom: 10px;
}
.mL10 {
	margin-left:10px;
}
.mR10 {
	margin-right:10px;
}
.mT5 {
	margin-top: 5px;
}
.mB5 {
	margin-bottom: 5px;
}
.mL5 {
	margin-left:5px;
}
.mR5 {
	margin-right:5px;
}
.pd10 {
	padding:10px;
}
.pd5 {
	padding:5px;
}
.pTB10 {
	padding-top:10px;
	padding-bottom:10px;
}
.pB10 {
	padding-bottom:10px;
}
.pB5 {
	padding-bottom:5px;
}
.mp10 {
	margin:10px;
	padding:10px;
}
.f14 {
	font-size:14px;
}
.lh20 {
	line-height:20px;
}
.lh22 {
	line-height:22px;
}
.h100 {
	height:100%
}
.h80 {
	height:80px;
}
.artContent {
	clear:both;
	font-size:14px;
	line-height:26px;
	overflow:hidden;
	padding:9px 0;
	color:#646464;
}
.details {
	background-image: url(../images/square.gif);
	background-repeat: no-repeat;
	background-position: -2000px center;
	padding-left: 1em;
}
/*下划线*/
.dashed {
	background-image: url(../images/dashed.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.solid
{ border-bottom:1px solid #DFDDDD; width:100%;
    }
/* 列表
-------------------------------------------------------------------*/
/* 浮动列表*/
dl.w50 dd, ul.w50 li {
	float: left;
	width: 50%;
}
dl.w48 dd, ul.w48 li {
	float: left;
	width: 48%;
}
dl.w33 dd, ul.w33 li {
	float: left;
	width: 33%;
}
dl.w25 dd, ul.w25 li {
	float: left;
	width: 25%;
}
dl.w20 dd, ul.w20 li {
	float: left;
	width: 20%;
}
dl.w16 dd, ul.w16 li {
	float: left;
	width:16.65%;
}
dl.w50 dd p, dl.w48 dd p, dl.w33 dd p, dl.w25 dd p, dl.w20 dd p, ul.w50 li p, ul.w48 li p, ul.w33 li p, ul.w25 li p, ul.w20 li p {
	line-height: 22px;
	height: 22px;
	overflow: hidden;
}
ul.fLeftChild li, ol.fLeftChild li, dl.fLeftChild dd {
	float: left;
}
/*有序号*/
ol.list li {
	overflow:hidden;
	height:26px;
	line-height:26px;
}
ol.list li b {/*序号容器*/
	background-image: url(../images/square.gif);
	background-repeat: no-repeat;
	background-position: -8000px center;
	float:left;
	width:13px;
	margin-right:5px;
	text-align: center;
	color:#fff;
	display:inline;
	font-size: 10px;
}
ol.list li b.highLight {
	background-image: url(../images/square.gif);
	background-repeat: no-repeat;
	background-position: -9000px center;
}
ol.list li a {
	width:70%;
	float:left;
	overflow:hidden;
	height:100%;
	display:block;
}
ol.list li span {
	float:right;
	width:18%;
	text-align:right;
	color:#999;
}
/*常用*/
.square,/*单独使用*/ ul.list li {
	overflow:hidden;
	background-image: url(square.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	text-indent: 1em;
	height:26px;
	line-height:26px;
}
ul.list2 li {
	overflow:hidden;
	background-image: url(square.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	text-indent: 1em;
	clear:both;
	height:19px;
	line-height:19px;
}
*html ul.list2 li {
 *margin-top:-3px;
}
.list li a, .list2 li a {
	width:80%;
	float:left;
	overflow:hidden;
	height:100%;
	display:block;
}
.list li span, .list2 li span {
	float:right;
	width:18%;
	text-align:right;
}
ul.sotrList li {
	overflow:hidden;
	background-image: url(square.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	text-indent: 1em;
	height:20px;
	line-height:20px;
}
ul.sotrList li a {
	overflow:hidden;
	height:100%;
	display:block;
	float:right;
	width:80%;
}
ul.sotrList li span {
	width:18%;
	float:left;
	text-align:right;
	color:#999;
}
.wT0 {
	width:133px;
}
.wT1 {
	width:115px;
}
.wT2 {
	width:56px;
}
.wT3 {
	width:28px;
}
/*提示信息*/
.formtips{width: 200px;margin:2px;padding:2px;}
.onError{
    background:#FFE0E9 url(reg3.gif) no-repeat 0 center;
	padding-left:25px;
}
.onSuccess{
    background:#E9FBEB url(reg4.gif) no-repeat 0 center;
	padding-left:25px;
}
.high{
    color:red;
}
 
