* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HTML {
	BACKGROUND-COLOR: #edf1f4; HEIGHT: 100%; FONT-SIZE: 12px; OVERFLOW: hidden
}
BODY {
	BACKGROUND-COLOR: #edf1f4; HEIGHT: 100%; FONT-SIZE: 12px; OVERFLOW: hidden
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
A {
	TEXT-DECORATION: none
}
/*tinybox.js样式*/
 .zxx_list_title{background:#eeeeee; border:1px solid #cccccc; padding:1em;}
.zxx_list_content{padding:1em;}
#tinybox{position:absolute; display:none; padding:10px; background:#ffffff url(preload.gif) no-repeat 50% 50%; border:10px solid #878787; z-index:2000;}
#tinymask{position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000000; z-index:1500;}
#tinycontent{background:#ffffff; font-size:1.1em;}
 /*end tinybox.js样式*/
.bigbox{ width:100%; }
.banner{background:url(leftico.png) repeat-x 0px 0px;height:81px; }
.banner div{ float:left;}

.plugin-tabs{ height:30px; line-height:30px; font-size:14px;}
.plugin-tabs li{ float:left; list-style:none; margin-left:10px; height:25px; margin-top:5px; margin-bottom:-10px;padding-left:8px; padding-right:8px; cursor:pointer;}
.plugin-tabs li.current{ background:#fff; border-left:1px solid #CCD5CA;border-right:1px solid #CCD5CA;border-top:1px solid #CCD5CA; }
     
.rbox{ background:#fff; width:326px; height:460px; margin-right:15px; border:1px solid #CCD5CA;overflow-y: auto;}

.lbox-top{background:url(leftico.png) repeat-x -1px -126px;height:30px; width:100%;}
.divmsgbox{ padding-left:10px; height:350px;overflow-y: auto;}
.divmsgbox div{ width:100%;}
.divmsgbox  .userspeak .title{ color:#008200;line-height:20px;}
.divmsgbox  .userspeak .msg{ color:#8A0000;  padding-left:25px; width:90%; line-height:20px;}
.divmsgbox  .myspeak .title{ color:#0000FF; line-height:20px;}
.divmsgbox  .myspeak .msg{ color:#363636; padding-left:25px; width:90%; line-height:20px;}


.toolbar{background:url(leftico.png) repeat-x 0 -165px;height:34px; width:100%;}
.toolbar .btns{}
.toolbar .btns li{ float:left;background:url(adminico.png) no-repeat 0 0;height:23px; width:23px; margin-top:5px; list-style:none; margin-left:8px;cursor:pointer;}
.inputbox{ width:100%; height:68px;}
.inputbox textarea{border-style: none; height:68px; width:100%;overflow-x:hidden;overflow-y:hidden;}

.bannerbtm{ padding-right:360px; background-color:Red;}
.bannerbtm{background:url(leftico.png) repeat-x -1px -85px;height:32px; }
.bannerbtm div{background:url(adminico.png) no-repeat 0 0; float:right; margin-left:10px; margin-bottom:2px; text-align:center; line-height:23px; cursor:pointer;}
.bannerbtm div.btnclose{height:23px;width:71px;background-position:-14px -101px;}
.bannerbtm div.btnsend{width:85px;height:23px;background-position:-89px -101px;}

.saveorder{ height:107px; border-top:1px solid #CCD5CA; background:#F9FFF7;}
.saveorder .btnsaveorder{background:url(adminico.png) no-repeat 0 0; width:103px;height:51px;background-position:-100px -3px; color:#fff; font-size:14px; font-weight:bold; text-align:center; line-height:51px;}
.saveorder .btnclearinfo{width:100px;height:25px;  text-align:center; line-height:25px; margin-top:5px; margin-left:2px;}
.orderinfo div{ width:100%; padding:5px;}
.orderinfo div textarea{ width:100%;}
.userinfo{ color:#fff; line-height:20px; margin-left:20px;}

#pSWFUPBox{ display:none; width:100%; border-top:1px solid #ccc; line-height:35px; padding-bottom:10px; background:#FFF8E3;}
#pSWFUPBox input{ width:230px;}
.uploadfilebtn{background:url(adminico.png) no-repeat 0 0; cursor:pointer; background-position:-102px -69px;  width:100px;height:25px; margin-top:3px; float:right; margin-right:2px; line-height:25px; text-align:center; color:#fff; display:block;}
#changetoauto{background:url(adminico.png) no-repeat 0 0; background-position:-13px -134px;  width:50px; padding-left:25px; line-height:25px; float:right; margin-left:20px; margin-right:5px; margin-top:3px; cursor:pointer;}


.custtomword{ width:490px; height:290px;position:absolute;  overflow:auto; }
.custtomword ul{ list-style-type:none;}
.custtomword li{ height:25px; line-height:25px; cursor:pointer;}
.custtomword li:hover{ background-color:#FCEDDE;}