<?xml version="1.0"?>
<ModelClass xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AddDate>2012-12-14T16:41:04.4190312+08:00</AddDate>
  <ID>03eb1a15-455e-4b5e-83ad-6a5a85bba484</ID>
  <Configs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>32088a7e-13c4-49da-af02-f18caf92b7ca</FieldControlTypeID>
      <ColumFiledName>QQ</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>QQ</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>32088a7e-13c4-49da-af02-f18caf92b7ca</FieldControlTypeID>
      <ColumFiledName>MSN</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>MSN</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>32088a7e-13c4-49da-af02-f18caf92b7ca</FieldControlTypeID>
      <ColumFiledName>ICO</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>ICO</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>5e4977f6-d14e-4b54-acdd-03c58428423f</FieldControlTypeID>
      <ColumFiledName>Sex</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>性别</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>ccb94d75-52c7-4487-8716-0ddd80ae9f94</FieldControlTypeID>
      <ColumFiledName>BirthDay</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>生日</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>f8edab0f-fb25-4d82-ad7d-b84d94ef0434</FieldControlTypeID>
      <ColumFiledName>Photo</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>相片</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Bloodtype</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>血型</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Country</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>所在国家</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Province</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>所在省分</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>City</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>所在城市</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>32088a7e-13c4-49da-af02-f18caf92b7ca</FieldControlTypeID>
      <ColumFiledName>Phone</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>电话</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>32088a7e-13c4-49da-af02-f18caf92b7ca</FieldControlTypeID>
      <ColumFiledName>Postcode</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>邮编</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>db3f80a3-3e38-464d-a8de-fea49cca1458</FieldControlTypeID>
      <ColumFiledName>Address</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>地址</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Job</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>工作</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Edu</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>教育程度</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>School</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>毕业学校</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>f423731b-e401-4752-a58d-117163feb6d2</FieldControlTypeID>
      <ColumFiledName>Introduction</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>备注</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Annex1</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>附加字段1</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Annex2</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>附加字段2</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Annex3</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>附加字段3</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Annex4</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>附加字段4</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Annex5</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>附加字段5</ColumShowName>
    </ColumFiledConfigs>
  </Configs>
  <GetUsedFileds>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>32088a7e-13c4-49da-af02-f18caf92b7ca</FieldControlTypeID>
      <ColumFiledName>QQ</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>QQ</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>32088a7e-13c4-49da-af02-f18caf92b7ca</FieldControlTypeID>
      <ColumFiledName>MSN</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>MSN</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>32088a7e-13c4-49da-af02-f18caf92b7ca</FieldControlTypeID>
      <ColumFiledName>ICO</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>ICO</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>5e4977f6-d14e-4b54-acdd-03c58428423f</FieldControlTypeID>
      <ColumFiledName>Sex</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>性别</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>ccb94d75-52c7-4487-8716-0ddd80ae9f94</FieldControlTypeID>
      <ColumFiledName>BirthDay</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>生日</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>f8edab0f-fb25-4d82-ad7d-b84d94ef0434</FieldControlTypeID>
      <ColumFiledName>Photo</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>相片</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>32088a7e-13c4-49da-af02-f18caf92b7ca</FieldControlTypeID>
      <ColumFiledName>Phone</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>电话</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>32088a7e-13c4-49da-af02-f18caf92b7ca</FieldControlTypeID>
      <ColumFiledName>Postcode</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>邮编</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>f423731b-e401-4752-a58d-117163feb6d2</FieldControlTypeID>
      <ColumFiledName>Introduction</ColumFiledName>
      <IsShowAdmin>true</IsShowAdmin>
      <IsShowUser>true</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>备注</ColumShowName>
    </ColumFiledConfigs>
  </GetUsedFileds>
  <GetUnUsedFileds>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Bloodtype</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>血型</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Country</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>所在国家</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Province</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>所在省分</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>City</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>所在城市</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>db3f80a3-3e38-464d-a8de-fea49cca1458</FieldControlTypeID>
      <ColumFiledName>Address</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>地址</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Job</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>工作</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Edu</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>教育程度</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>School</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>毕业学校</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Annex1</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>附加字段1</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Annex2</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>附加字段2</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Annex3</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>附加字段3</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Annex4</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>附加字段4</ColumShowName>
    </ColumFiledConfigs>
    <ColumFiledConfigs>
      <IsOutFiled>false</IsOutFiled>
      <OrderNum>0</OrderNum>
      <PlaceHolderID>phDefaultFileds</PlaceHolderID>
      <FieldControlTypeID>00000000-0000-0000-0000-000000000000</FieldControlTypeID>
      <ColumFiledName>Annex5</ColumFiledName>
      <IsShowAdmin>false</IsShowAdmin>
      <IsShowUser>false</IsShowUser>
      <IsReadOnly>false</IsReadOnly>
      <ColumShowName>附加字段5</ColumShowName>
    </ColumFiledConfigs>
  </GetUnUsedFileds>
  <ModelName>默认用户模型</ModelName>
  <IsSystem>false</IsSystem>
  <ModuleID>00000000-0000-0000-0000-000000000000</ModuleID>
</ModelClass>