<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EbSite.Plugin.MobileMsgSendBeiMai.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>



  <applicationSettings>
    <EbSite.Plugin.MobileMsgSendBeiMai.Properties.Settings>
      <setting name="EbSite_Plugin_MobileMsgSendBeiMai_cn_entinfo_sdk2_WebService" serializeAs="String">
        <value>http://sdk2.entinfo.cn/webservice.asmx</value>
      </setting>
    </EbSite.Plugin.MobileMsgSendBeiMai.Properties.Settings>
    <Electronic.Manage.Properties.Settings>
     
          <setting name="EbSite.Plugin.MobileMsgSendBeiMai_cn_entinfo_sdk2_WebService" serializeAs="String">
            <value> http://sdk2.entinfo.cn/webservice.asmx</value>
            </setting>
    </Electronic.Manage.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
