<?xml version="1.0"?>
<ConfigsInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <FounderuID>admin</FounderuID>
  <DataLayerTypeUser>MySql</DataLayerTypeUser>
  <DataLayerType>MySql</DataLayerType>
  <ConnectionStringSysCmsWrite>Data Source=127.0.0.1;Port=3306;UserId=root;Password=github2021;database=ebsite;charset=utf8;</ConnectionStringSysCmsWrite>
  <ConnectionStringSysCms>Data Source=127.0.0.1;Port=3306;UserId=root;Password=github2021;database=ebsite;charset=utf8;</ConnectionStringSysCms>
  <ConnectionStringSysUserWrite>Data Source=127.0.0.1;Port=3306;root=coinbig;Password=github2021;aitanqin=ebsite;charset=utf8;</ConnectionStringSysUserWrite>
  <ConnectionStringSysUser>Data Source=127.0.0.1;Port=3306;UserId=root;Password=github2021;database=ebsite;charset=utf8;</ConnectionStringSysUser>
  <TablePrefix>EB_</TablePrefix>
  <TablePrefixUser>eb_</TablePrefixUser>
</ConfigsInfo>